{% extends "base.html" %} {% block title %}Files - {{ current_path }}{% endblock
%} {% block content %}
<div x-data="fileManager()">
  <!-- Alerts -->
  {% include 'partials/alerts.html' %}

  <!-- Breadcrumb -->
  {% include 'partials/breadcrumb.html' %}

  <!-- Action Buttons -->
  {% include 'partials/action_buttons.html' %}

  <!-- File/Folder List -->
  {% include 'partials/file_list.html' %}

  <!-- Modals -->
  {% include 'modals/upload_modal.html' %} {% include
  'modals/newfolder_modal.html' %} {% include 'modals/delete_modal.html' %} {%
  include 'modals/preview_modal.html' %}
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/file_manager.js') }}"></script>
<script>
  setTimeout(() => {
    document.querySelectorAll('[id^="alert-"]').forEach((alert) => {
      alert.classList.add("opacity-0");
      setTimeout(() => alert.remove(), 300);
    });
  }, 5000);
</script>
{% endblock %}
